<div style="margin:auto; text-align: center;">
  <h2>Log in</h2>

  <div>
    <div>
      {{range $provider := .Result.GetProviders}}
        <div>Login with {{$provider.GetName}}</div>
        {{render (printf "auth/login/providers/%v" $provider.GetName)}}
      {{end}}
    </div>
  </div>

  <div>
    <a href="{{.Result.AuthURL "register"}}">Sign Up</a>
  </div>
</div>
