<div style="margin:auto; text-align: center;">
  <h2>Log in</h2>

  <div>
    render all providers's login form

    {{.Config.GetProviders}}
  </div>

  <div>
    <a href="">Sign Up</a>
  </div>
</div>
