<div style="margin:auto; text-align: center;">
  <h2>Log in</h2>

  <div>
    <div>
      {{range $provider := .Result.GetProviders}}
        <div>Login with {{$provider.GetName}}</div>
      {{end}}
    </div>
  </div>

  <div>
    <a href="">Sign Up</a>
  </div>
</div>
