<div style="margin:auto; text-align: center;">
  <h2>Register</h2>

  <div>
    <div>
      {{range $provider := .Result.GetProviders}}
        <div>Register with {{$provider.GetName}}</div>
        {{render (printf "auth/register/providers/%v" $provider.GetName)}}
      {{end}}
    </div>
  </div>

  <div>
    <a href="{{.Result.AuthURL "login"}}">Sign in</a>
  </div>
</div>
