<div style="margin:auto; text-align: center;">
  <h2>Register</h2>

  <div>
    render all providers's register form
  </div>

  <div>
    <a href="{{.Result.AuthURL "login"}}">Sign in</a>
  </div>
</div>
