<form action="{{.Result.AuthURL "database/register"}}" method="POST">
  Login:    <input name="login">
  Password: <input name="password" type="password">
  <input type="submit" value="Sign Up">
</form>
